{% extends "base.html" %}

{% block content %}

<style>
.container-password {
    background: white;
    border-radius: 15px;
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.header-password {
    background: #87CEEB;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 30px;
}

.seccion {
    margin-bottom: 20px;
}

.seccion label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* BOTONES */
.btn-guardar {
    background: #0066cc;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    width: 100%;
    font-weight: bold;
    margin-bottom: 10px;
}

.btn-guardar:hover {
    background: #0055aa;
}

.btn-cancelar {
    background: gray;
    color: white;
    border-radius: 8px;
    padding: 10px;
    display: block;
    text-align: center;
    text-decoration: none;
}

.error-box {
    background: #ffe6e6;
    color: #cc0000;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
}

.errorlist {
    list-style: none;
    padding: 0;
    margin: 0;
}
</style>

<div class="container-password">

    <div class="header-password">
        <h2>Cambiar Contraseña</h2>
        <p>Actualiza tu contraseña de forma segura</p>
    </div>

    <form method="post">
        {% csrf_token %}

        <div class="seccion">
            <label>Contraseña actual</label>
            {{ form.old_password }}
            {% if form.old_password.errors %}
            <div class="error-box">
                 {{ form.old_password.errors.0 }}
            </div>
            {% endif %}
        </div>

        <div class="seccion">
            <label>Nueva contraseña</label>
            {{ form.new_password1 }}
        </div>

        <div class="seccion">
            <label>Confirmar nueva contraseña</label>
            {{ form.new_password2 }}
            {% if form.new_password2.errors %}
            <div class="error-box">
                 {{ form.new_password2.errors.0 }}
            </div>
            {% endif %}
        </div>

        <button type="submit" class="btn-guardar">
            Guardar contraseña
        </button>

        <a href="{% url 'inicio' %}" class="btn-cancelar">
            Cancelar
        </a>

    </form>

</div>

{% endblock %}