{% extends "base.html" %}
{% load static %}
{% block title %}Inicio{% endblock %}

{% block content %}
<style>

.btn-carrito {
    display: block;
    background: #0066cc;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 10px;
    font-weight: bold;
    transition: 0.2s;
}

.btn-carrito:hover {
    background: #0055aa;
    transform: scale(1.03);
}

.agotado {
    color: red;
    margin-top: 10px;
    font-weight: bold;
}
.catalogo-container {
    max-width: 1000px;
    margin: 30px auto;
}

.catalogo-titulo {
    text-align: center;
    margin-bottom: 20px;
    color: #004080;
}

.catalogo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.libro-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transition: transform 0.2s;
}

.libro-card:hover {
    transform: scale(1.03);
}

@media (max-width: 768px) {
    .catalogo-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
</style>

<div class="main-container">

    <aside>
        <h2>Novedades</h2>

        <img src="{% static 'assets/imagenes/nicolas.jpg' %}" width="100%">

        <img src="{% static 'assets/imagenes/Logo.png' %}" width="100%">
        <p>Promociones del mes</p>
    </aside>

    <main>

        <h2>Bienvenido a Librer_IA online</h2>

        <p>
            Descubre una amplia variedad de libros y novedades literarias.
        </p>
<div class="catalogo-container">

    <h2 class="catalogo-titulo">Catálogo</h2>

    <div class="catalogo-grid">
        {% for libro in libros %}
            <div class="libro-card">

                <h3>{{ libro.titulo }}</h3>

                <p><strong>Autor:</strong> {{ libro.autor }}</p>
                <p><strong>Género:</strong> {{ libro.genero }}</p>
                <p><strong>Idioma:</strong> {{ libro.idioma }}</p>
		        <p><strong>Stock:</strong> {{ libro.stock }}</p>
                <p><strong>Precio:</strong> ${{ libro.precio }}</p>

		{% if user.is_authenticated and user.rol == "CLIENTE" %}

        {% if libro.stock > 0 %}
        <a href="{% url 'agregar_al_carrito' libro.id %}" class="btn-carrito">
            Añadir al carrito
        </a>
        {% else %}
        <p class="agotado">Agotado</p>
        {% endif %}

        {% endif %}
            </div>
        {% empty %}
            <p>No hay libros disponibles.</p>
            <p>Total libros: {{ libros|length }}</p>
        {% endfor %}
    </div>

</div>
        <hr>

        <h3>Contenido destacado</h3>

        <p>
            Aquí luego puedes mostrar libros dinámicos desde la base de datos 🔥
        </p>

    </main>

</div>


{% endblock %}
