{% extends "base.html" %}
{% load static %}
{% block title %}Inicio{% endblock %}

{% block content %}

<div class="main-container">

    <aside>
        <h2>Novedades</h2>

        <img src="{% static 'assets/imagenes/nicolas.jpg' %}" width="100%">

        <img src="{% static 'assets/imagenes/Logo.png' %}" width="100%">
        <p>Promociones del mes</p>
    </aside>

    <main>

        <h2>Bienvenido a Librer_IA online</h2>

        <p>
            Descubre una amplia variedad de libros y novedades literarias.
        </p>

        <img src="{% static 'assets/imagenes/Logo2.png' %}" width="100%">

        <hr>

        <h3>Contenido destacado</h3>

        <p>
            Aquí luego puedes mostrar libros dinámicos desde la base de datos 🔥
        </p>

    </main>

</div>

{% endblock %}